{% extends 'base.html' %}

{% block title %}Career{% endblock %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row p-4">
                    <div class="col-md-6 d-flex justify-content-center">
                        <img src="https://via.placeholder.com/300" alt="Title Image">
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <h1>Career</h1>
                        </div>
                        <div class="row">
                            <p>Edward Bernays had major impacts on many industries.<br>Including, but not limited to:
                                <ul>
                                    <li>Cigarettes</li>
                                    <li>Water Fluoridation</li>
                                    <li>Food</li>
                                    <li>Politics</li>
                                    <li>Hygiene</li>
                                    <li>Sexual Education</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row p-4">
                    <div class="col-md-6">
                        <div class="row" id="cigarettes">
                            <h1>Cigarettes</h1>
                        </div>
                        <div class="row">
                            <p>For women in the 1920's, smoking in public was taboo. George W. Hill, president of the American Tobacco Company, hired Bernays to open up the female market. Initially, Bernays marketed cigarettes as something of an alternative to food; to smoke instead of eating would keep you slim indeed! While this did boost sales, it didn't do anything about the taboo of public puffing. So, taking a different angle, Bernays consulted a psychoanalyst friend of his, Abraham Brill, who made the suggestion to associate cigarettes with "torches of freedom" in the feminism movement. Following this advice, Bernays had another friend of his organize a womens' rights march as part of the NYC Easter Day Parade, with a keystone feature of everyone lighting up cigarettes during it.</p>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center">
                        <img src="https://via.placeholder.com/300" alt="Title Image">
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row p-4">
                    <div class="col-md-6 d-flex justify-content-center">
                        <img src="https://via.placeholder.com/300" alt="Title Image">
                    </div>
                    <div class="col-md-6">
                        <div class="row" id="bacon">
                            <h1>Bacon</h1>
                        </div>
                        <div class="row">
                            <p>Breakfast in the 30's was getting faster</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="row p-4">
                    <div class="col-md-6">
                        <div class="row" id="bananas">
                            <h1>Bananas</h1>
                        </div>
                        <div class="row">
                            <p>The Banana Republics were wack yo</p>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center">
                        <img src="https://via.placeholder.com/300" alt="Title Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}