{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row p-4">
        <div class="d-flex col-md-6 justify-content-center">
            <img src="https://via.placeholder.com/300" alt="Image">
        </div>
        <div class="col-md-6">
            <div class="row">
                <h1>Summary</h1>
            </div>
            <div class="row">
                This is Edward Bernays, an Austrian American and "double nephew" of Sigmund Freud.
            </div>
        </div>
    </div>
    <div class="row p-4">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-10 offset-md-2 p-3 border">
                    <div class="d-flex justify-content-center"><img src="https://via.placeholder.com/150" alt="Thumbnail"></div>
                    <h1 class="pt-2">Title</h1>
                    <p>Brief description of the product he sold</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-10 offset-md-2 p-3 border">
                    <div class="d-flex justify-content-center"><img src="https://via.placeholder.com/150" alt="Thumbnail"></div>
                    <h1 class="pt-2">Title</h1>
                    <p>Brief description of the product he sold</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-10 offset-md-2 p-3 border">
                    <div class="d-flex justify-content-center"><img src="https://via.placeholder.com/150" alt="Thumbnail"></div>
                    <h1 class="pt-2">Title</h1>
                    <p>Brief description of the product he sold</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}