{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row p-4">
        <div class="d-flex col-md-6 justify-content-center">
            <img src="https://via.placeholder.com/300" alt="Image">
        </div>
        <div class="col-md-6">
            <div class="row">
                <h1>Summary</h1>
            </div>
            <div class="row">
                <p class="text-justify">This is Edward Bernays, an Austrian American and "double nephew" of Sigmund Freud (who was his mother's brother and his father's sister's husband). Though he started his career as a journalist with an agriculture degree from Cornell, his real work was in the field of public relations, which he revolutionized with techniques based on the work of his Austrian uncle which are still in use today.</p>
            </div>
        </div>
    </div>
    <div class="row p-4">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-10 offset-md-2 p-3 border">
                    <div class="d-flex justify-content-center"><img src="https://via.placeholder.com/150" alt="Thumbnail"></div>
                    <a href="/career#cigarettes"><h2 class="pt-3">Cigarettes</h2></a>
                    <p>Sold Cigarettes for the American Tobacco Company while simultaneously assisting the womens' rights movement.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-10 offset-md-2 p-3 border">
                    <div class="d-flex justify-content-center"><img src="https://via.placeholder.com/150" alt="Thumbnail"></div>
                    <a href="/career#bacon"><h2 class="pt-3">Bacon</h2></a>
                    <p>In order to sell bacon for the Beech-Nut Packing Company, permanently changed the way we see and approach breakfast.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-10 offset-md-2 p-3 border">
                    <div class="d-flex justify-content-center"><img src="https://via.placeholder.com/150" alt="Thumbnail"></div>
                    <a href="/career#bananas"><h2 class="pt-3">Bananas</h2></a>
                    <p>While helping out the United Fruit Company, became instrumental in effecting a succesful coup d'état in Guatemala.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}